.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.path-slider__path {
  stroke: rgba(255, 255, 255, 0.5);
}

#divText {
  z-index:9;
  position: absolute;
  color:white;
  top:0;
  left: 5em;
  width: 25%;
}
#pTitle {
  z-index:9;
  width: 100%;
  font-weight: bold;
  font-size: 5em;
}
#pDesc {
  z-index:9;
  width: 100%;
  font-size:1.2em
}
#btnStart {
  z-index:9;
  background-color: transparent;
  color: white;
  font-size: 1.5em;
  padding: 0.5em;
  border-radius: 3px;
  border: 3px solid white;
  margin-top: 1em;
}
#btnStart:hover {
  cursor:pointer;
  background-color: #00CC00;
  color: white;
  border: 3px solid #00CC00;
}
.dud {
  color: #00FF00;
}


#divProgressBar {
  z-index:9;
  background: rgba(255,255,255,0.1);
  justify-content: flex-start;
  border-radius: 100px;
  align-items: center;
  padding: 0 5px;
  display: flex;
  height: 40px;
  width: 500px;
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 250px);
  z-index:7;
}

#divProgressBarValue {
  z-index:10;
  animation: load 3s normal forwards;
  box-shadow: 0 10px 40px -10px #fff;
  border-radius: 100px;
  background: #00FF00;
  height: 30px;
  width: 0;

}

#iconArrow {
  z-index:9;
  display: block;
  color: white;
  font-size: 2em;
}

#divBgBlack {
  position: absolute;
  top: 0;
  left:0;
  height:100%;
  width:100%;
  background-color: black;
  opacity: 0.7;
}
#pProgressBar {
  animation: pload 1.5s normal forwards;
  z-index: 11;
  color: black;
  font-size:1.2em;
  margin:0;
  margin-top: calc(15px - 0.6em);
  overflow: hidden;
  white-space: nowrap;
  text-align: right;
  font-weight: bold;
}

#textDiv {
  margin-top: -1em;
  color: white;
  height: 7em;
}
#textDiv:hover {
  #textP{
    opacity: 1;
  }
}

#textP {
  opacity: 0.25;
  margin-top: 5.2em;
  right:0;
}


#line {
  position: absolute;
  left: 65%;
  top: 25%;
  background-color: white;
  transform: rotate(-30deg);
  width: 10em;
  height: 2px;
}

#carrousselImage {
  position: absolute;
  left: calc(65% + 10em);
  top: calc(25% - 50px);
  width: 22.5em;
  height: 15em;
  overflow: auto;
  box-shadow: -8px -8px 0px black, 
  -10px -10px 0px white;
}

#carrousselImage::-webkit-scrollbar
{
	width: 0px;

}

#carrousselImage::-webkit-scrollbar-thumb
{
	border: 0px ;
}
#img {
  width: 22.5em;
  height: 15em;
}

#btnBack {
  z-index:9;
  display:none;
  position: absolute;
  bottom:20px;
  left:20px;
  height: 5em;
  width: 5em;
  background-color: transparent;
  border: white 3px solid;
  border-radius: 50%;
}

#btnBack:hover #iconArrow {
  cursor: pointer;
  // animation: corner 1s normal forwards;
}

@mixin glitchCopy { 
  font-family: "Font Awesome 5 Free";
  content: "\f060";
  font-weight: 900;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#btnBack:hover #iconArrow {
position: relative;
/* Animation provies a slight random skew. Check bottom of doc
for more information on how to random skew. */
animation: glitch-skew 1s infinite linear alternate-reverse;

// Creates a copy before our text. 
&::before{
  // Duplicates our text with the mixin.
  @include glitchCopy;
  // Scoots text slightly to the left for the color offset.
  left: 2px;
  // Creates the color 'shadow' that happens on the glitch.
  text-shadow: -2px 0 #ff00c1;
  /* Creates an initial clip for our glitch. This works in
  a typical top,right,bottom,left fashion and creates a mask
  to only show a certain part of the glitch at a time. */
  clip: rect(44px, 450px, 56px, 0);
  /* Runs our glitch-anim defined below to run in a 5s loop, infinitely,
  with an alternating animation to keep things fresh. */
  animation: glitch-anim 5s infinite linear alternate-reverse;
}

// Creates a copy after our text. Note comments from ::before.
&::after {
  @include glitchCopy;
  left: -2px;
  text-shadow: -2px 0 #00FF00, 2px 2px #ff00c1;
  animation: glitch-anim2 1s infinite linear alternate-reverse;
}
}

/* Creates an animation with 20 steaps. For each step, it calculates 
a percentage for the specific step. It then generates a random clip
box to be used for the random glitch effect. Also adds a very subtle
skew to change the 'thickness' of the glitch.*/
@keyframes glitch-anim {
$steps: 20;
@for $i from 0 through $steps {
  #{percentage($i*(1/$steps))} {
    clip: rect(random(100)+px, 9999px, random(100)+px, 0);
    transform: skew((random(100) / 100) + deg);
  }
}
}

// Same deal, just duplicated for ultra randomness.
@keyframes glitch-anim2 {
$steps: 20;
@for $i from 0 through $steps {
  #{percentage($i*(1/$steps))} {
    clip: rect(random(100)+px, 9999px, random(100)+px, 0);
    transform: skew((random(100) / 100) + deg);
  }
}
}

// Does the same deal as before, but now only skews. Used for main text.
@keyframes glitch-skew {
$steps: 10;
@for $i from 0 through $steps {
  #{percentage($i*(1/$steps))} {
    transform: skew((random(10) - 5) + deg);
  }
}
}


@keyframes load {
  0% { width: 0; }
  100% { width: 100%; }
}

@keyframes pload {
  0% { 
    margin-left: 0px;
  }
  100% {
    text-align: left;
    margin-left: calc(250px - 75px);
    
  }
}

/* @keyframes corner {
  0% {
    border-bottom-left-radius: 50%;
 }
 100% {
  border-bottom-left-radius: 25%
 }

} */
