.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.path-slider__path {
  stroke: rgba(255, 255, 255, 0.5);
}

#divText {
  position: absolute;
  color:white;
  top:0;
  left: 5em;
  width: 25%;
}
#pTitle {
  width: 100%;
  font-weight: bold;
  font-size: 5em;
}
#pDesc {
  width: 100%;
  font-size:1.2em
}
#btnStart {
  background-color: transparent;
  color: white;
  font-size: 1.5em;
  padding: 0.5em;
  border-radius: 3px;
  border: 3px solid white;
  margin-top: 1em;
}
#btnStart:hover {
  cursor:pointer;
  background-color: #00CC00;
  color: white;
  border: 3px solid #00CC00;
}
.dud {
  color: #00FF00;
}


#divProgressBar {
  background: rgba(255,255,255,0.1);
  justify-content: flex-start;
  border-radius: 100px;
  align-items: center;
  padding: 0 5px;
  display: flex;
  height: 40px;
  width: 500px;
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 250px);
  z-index:7;
}

#divProgressBarValue {
  animation: load 3s normal forwards;
  box-shadow: 0 10px 40px -10px #fff;
  border-radius: 100px;
  background: #00FF00;
  height: 30px;
  width: 0;
  z-index:7;
}


#divBgBlack {
  position: absolute;
  top: 0;
  left:0;
  height:100%;
  width:100%;
  background-color: black;
  opacity: 0.7;
}
#pProgressBar {
  animation: pload 1.5s normal forwards;
  z-index: 8;
  color: black;
  font-size:1.2em;
  margin:0;
  margin-top: calc(15px - 0.6em);
  overflow: hidden;
  white-space: nowrap;
  text-align: right;
  font-weight: bold;
}

@keyframes load {
  0% { width: 0; }
  100% { width: 100%; }
}

@keyframes pload {
  0% { 
    margin-left: 0px;
  }
  100% {
    text-align: left;
    margin-left: calc(250px - 75px);
    
  }
}